@import 'bootstrap';
@import 'toastr';

body {

  font-size: 14px;
}

.navbar {
  background-color: #2d98bf !important;
  height: 40px;

  .nav-link {
    color: #fff !important;
  }
}

footer {

  .nav-link {
    color: #241f63 !important;
    font-weight: bold;
  }
}

.redirect-links {
  font-size: 16px;
  font-style: italic;
  font-weight: 500;
  margin-top: 50px;
}
