<footer>
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link" href="#">ABOUT US</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">SUPPORT</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">PRESS</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " href="#">API</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">JOBS</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">PRIVACY</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">TERMS</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">DIRECTORY</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">LANGUAGE</a>
    </li>
  </ul>
</footer>
